:root{
    --red:#d4093c;
    --black:#191a1d;
    --blue:#08d9d6;
    --white:#f6f6f6;
    --title:35px;
    --text:19px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #fff;
    overflow-x: hidden;
    font-family: 'Lora', serif;
}

/** Menu de navegacion **/
#header{
    position: relative;
    width: 100%;
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.menu .logo-box{
    margin-left: 20px;
}
.menu .logo-box h1 a{
    text-decoration: none;
    font-size: 35px;
    font-weight: 400;
    color: var(--black);
}

.menu .list-container{
    margin-right: 20px;
}
.menu .list-container .list{
    display: flex;
}
.menu .list-container .list li{
    list-style: none;
}
.menu .list-container .list li a{
    text-decoration: none;
    margin: 0px 10px;
    padding: 8px;
    color: var(--black);
    border-radius: 24px;
    font-size: 16px;
    transition: 0.3s;
}
.menu .list-container .list li a.activo{
    background: var(--red);
    color: #fff;
}
.menu .list-container .list li a:hover{
    background: var(--red);
    color: #fff;
}

.btn-menu > .fa-bars{
    display: none;
}

/**subir**/
.go-top{
    position: fixed;
    bottom: 100px;
    right: -100%;
    width: 50px;
    height: 50px;
    border: 2px solid var(--red);
    background: #fff;
    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}
.go-top:hover{
    border: 2px solid var(--white);
    background: var(--red);
    color: #fff;
}
.go-top:hover span{
    color: var(--white);
}
.go-top > span{
    font-size: 30px;
    color: var(--black);
}

/**skew**/
.skew-abajo{
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 0 10vh 100vw;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}
.skew-arriba{
    position: absolute;
    top: 0;
    left: 0;
    border-width: 10vh 100vw 0 0;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    z-index: 10;
}

/** Menu de navegacion **/

/** imagen de header **/
.img-header{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../imagenes/principal.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.img-header .welcome{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-header .welcome h1{
    font-size: 50px;
    color: #fff;
    font-weight: 200;
}
.img-header .welcome hr{
    width: 600px;
    height: 2px;
    background: #fff;
    border: none;
    margin-top: 5px;
}
.img-header .welcome p{
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
}
.img-header .welcome > button{
    width: 170px;
    height: 40px;
    background: var(--red);
    border-radius: 24px;
    border: none;
    outline: none;
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.img-header .welcome > button:hover{
    background: var(--blue);
}


/** acerca de nosotros **/
.acerca-de{
    width: 100%;
    margin-top: 120px;
}
.acerca-de .info-container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.acerca-de .info-container h1{
    font-size: 50px;
    font-weight: 400;
    color: var(--black);
    text-align: center;
    margin-bottom: 20px;
}
.acerca-de .info-container p{
    text-align: center;
    font-size: 17px;
    color: var(--black);
    line-height: 35px;
    margin: 10px 0px;
}
.acerca-de .info-container .about-gallery{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}
.acerca-de .info-container .about-gallery img{
    width: calc(33.33% - 10px);
    height: 300px;
    object-fit: cover;
    margin: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
}
.acerca-de .info-container .about-more{
    width: 100%;
    display: flex;
    justify-content: center;
}
.acerca-de .info-container .about-more button{
    width: 120px;
    height: 40px;
    background: var(--red);
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.acerca-de .info-container .about-more button:hover{
    background: var(--blue);
}

/** nuestros turismo**/
.our-projects{
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../imagenes/fondo3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: 100px;
}
.our-projects .deg-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}
.our-projects .ejeZproject{
    position: relative;
    width: 100%;
    height: 100%;
}
.our-projects .container-project{
    width: 90%;
    margin: auto;
    padding-top: 100px;
}
.our-projects .container-project .project-title{
    border: 2px solid #fff;
    padding: 10px;
    text-align: center;
    width: 50%;
    margin: auto;
}
.our-projects .container-project .project-title h2{
    font-size: 40px;
    color: #fff;
    font-weight: normal;
}
.our-projects .container-project .project-title hr{
    background: #fff;
    width: 50%;
    margin: 10px auto;
}
.our-projects .container-project .project-img{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 80px;
    padding-bottom: 100px;
}
.our-projects .container-project .project-img img{
    width: calc(30% - 10px);
    margin: 10px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}

/**testimonios**/
.testimonios{
    width: 100%;
    margin-top: 120px;
}
.testimonios .testimonios-title{
    width: 50%;
    margin: auto;
    text-align: center;
}
.testimonios .testimonios-title h2{
    font-size: 50px;
    color: var(--black);
    font-weight: none;
    margin-bottom: 10px;
}
.testimonios .testimonios-title hr{
    width: 60px;
    margin: auto;
    height: 2px;
    background: var(--black);
}
.testimonios .box-testimonios{
    width: 90%;
    margin: 80px auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.testimonios .box-testimonios .card-testimonio{
    width: 45%;
    margin: 20px;
}
.testimonios .box-testimonios .card-testimonio .card-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonios .box-testimonios .card-testimonio .card-img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit:cover;
    cursor: pointer;
}
.testimonios .box-testimonios .card-testimonio .testimonio-text{
    width: 100%;
    border: 2px solid var(--red);
    margin-top: 30px;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.1ms;
}
.testimonios .box-testimonios .card-testimonio .testimonio-text h4{
    color: var(--red);
    font-weight: 400;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition: 0.1ms;
}
.testimonios .box-testimonios .card-testimonio .testimonio-text p{
    font-size: 19px;
    color: var(--black);
    text-align: center;
    line-height: 35px;
    transition: 200ms;
}
.testimonios .box-testimonios .card-testimonio .testimonio-text:hover{
    border: 2px solid var(--blue);
}
.testimonios .box-testimonios .card-testimonio .testimonio-text:hover h4{
    color: var(--blue);
}

/**footer**/
.footer{
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../imagenes/lluvia.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.footer .deg-footer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.footer .ejezfooter{
    position: relative;
    width: 100%;
    height: 100%;
}
.footer .footer-content{
    width: 90%;
    padding-top: 100px;
    margin: auto;
    padding-bottom: 100px;
}
.footer .footer-content .footer-title{
    width: 50%;
    margin: auto;
    border: 2px solid #fff;
    padding: 15px;
}
.footer .footer-content .footer-title h2{
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 10px;
}
.footer .footer-content .footer-title hr{
    background: #fff;
    height: 2px;
    width: 80%;
    margin: auto;
}
.footer  .fomulario-content{
    width: 60%;
    margin: 50px auto;
    background: #fff;
    padding:30px;
    border-radius: 50px;
    border: 1.5px solid var(--red);
}
.footer .fomulario-content #formulario{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.footer .fomulario-content #formulario label{
    text-align: center;
    color: var(--black);
    font-size: 22px;
    margin: 30px 0px 10px 0px;
}
.footer .fomulario-content #formulario input{
    width: 90%;
    height: 40px;
    margin: auto;
    border: 2px solid var(--red);
    border-radius: 24px;
    outline: none;
    text-align: center;
    font-size: 17px;
    color: var(--black);
}
.footer .fomulario-content #formulario textarea{
    width: 90%;
    height: 200px;
    margin: auto;
    border: 2px solid var(--red);
    border-radius: 24px;
    outline: none;
    font-size: 15px;
    color: var(--black);
    padding: 20px;
}
.footer .fomulario-content #formulario .send{
    width: 100%;
    display: flex;
    justify-content: center;
}
.footer .fomulario-content #formulario .send button{
    width: 150px;
    height: 40px;
    background: var(--red);
    border-radius: 24px;
    border: none;
    outline: none;
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.footer .fomulario-content #formulario .send button:hover{
    background: var(--blue);
}
.footer .formulario-content #formulario .mensaje-form{
    width: 100%;
    margin:auto;
    padding:20px;
}
.footer .formulario-content #formulario .mensaje-form p{
    font-size:19px;
    color: var(--black);
    line-height: 35px;
}
.footer .footer-text{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, 0.8);
    border-top: 5px solid #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .footer-text p{
    color: #fff;
    font-size: 17px;
    text-align: center;
}

/**media query**/
@media only screen and (max-width:900px){
    .btn-menu > .fa-bars{
        display: block;
        position: absolute;
        top: 20px;
        right: 30px;
        font-size: 28px;
        cursor: pointer;
    }
    .btn-menu > .fa-bars:hover{
        color: var(--red);
    }
    .btn-menu > .fa-times{
        color: var(--red);
    }
    .menu .list-container{
        position: absolute;
        top: 60px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 60px);
        background: #fff;
    }
    .menu .list-container .list{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-top: 5px solid var(--red);
    }
    .menu .list-container .list li{
        width: 90%;
        margin: 10px 0px;
        border-bottom: 1px solid var(--red);
        text-align: center;
    }
    .menu .list-container .list li a{
        font-size: 20px;
    }
    .menu .list-container .list li a.activo{
        background: none;
        color: var(--red);
    }
    .menu .list-container .list li a:hover{
        background: none;
        color: var(--red);
    }
}

@media only screen and (max-width: 773px) {

    .img-header .welcome h1{
        font-size: 40px;
    }
    .img-header .welcome > button {
        width: 130px;
        font-size: 20px;
    }

    .acerca-de .info-container .about-gallery{
        flex-direction: column;
    }
    .acerca-de .info-container .about-gallery img{
        width: 100%;
    }

    /**turismo**/
    .our-projects .container-project .project-img img{
        width: 80%;
        margin-bottom: 30px;
    }

}

@media only screen and (max-width: 590px) {

    .img-header .welcome h1{
        font-size: 30px;
    }
    .img-header .welcome hr{
        width: 100%;
    }
    .img-header .welcome p{
        font-size: 17px;
    }
    .img-header .welcome > button {
        width: 100px;
        font-size: 17px;
    }

}

@media only screen and ( max-width: 890px) {
    .testimonios .box-testimonios .card-testimonio .card-img img{
        width: 200px;
        height: 200px;
    }
    .testimonios .box-testimonios .card-testimonio {
        width: 100%;
    }
    .testimonios .box-testimonios .card-testimonio .testimonios-text h4{
        font-size: 25px;
    }
    .testimonios .box-testimonios .card-testimonio .testimonios-text p{
        font-size: 17px;
        line-height: 35px;
    }
}

@media only screen and (max-width: 900px){
    .footer .formulario-content{
        width: 85%;
        padding: 20px;
    }
    .footer .formulario-content #formulario input{
        width: 100%;
    }
    .footer .formulario-content #formulario textarea{
        width: 100%;
    }
}


